{% extends "base.html" %} {% load static %}{% block head %}
<link rel="stylesheet" href="{% static 'css/users_app/registration.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/users_app/profile.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/users_app/post.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
<link rel="stylesheet" href="{% static 'css/users_app/create_post.css' %}" type="text/css">

<!--script for infinite-->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoints/lib/shortcuts/infinite.min.js' %}"></script>
<!---->
{% endblock head %} {% block auto-scroll %}{% endblock %} {% block navbar_links %}
<li style="float: right;">
    <a href="{{ user.profile.get_absolute_url }}">{{ user.profile.first_name | default:user.profile }}</a>
</li>
{% endblock navbar_links %} {% block content %}

<!--People-->


<!--CREATE POST-->
<div>
    <div onclick=open_url()>
        <div class="create_post_card_wrap">
            <div class="content">
                <div class="small_box_create_post">
                    <a href="{{ user.profile.get_absolute_url }}"><img class="avatar" src="{{ user.profile.avatar.url }}" alt="profile picture" /></a>
                    <span class="text"> Write your post.</span>
                </div>
            </div>
        </div>
    </div>
    <script async>
        function open_url() {
            location.href = "{% url 'create_post'  %} ";
        }
    </script>
</div>

<h1 class="section_title">Community</h1>
<!--Infinite Post List-->
<div>
    <div class="infinite-container">
        {% for post in posts %}
        <div class="infinite-item">
            <div class="post_card_wrap">
                <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                <div class="content">
                    <a href="{{ post.author.get_absolute_url }}"><img class="avatar" src="{{ post.author.avatar.url }}" alt="profile picture" /></a>

                    <a class="author" href="{{ post.author.get_absolute_url }}">
            {% if post.author.first_name %}
              {{ post.author.first_name }}
              {{ post.author.last_name | default:'' }}
            {% else %}
              {{ post.author }}
            {% endif %}
            <br><span class="position">{{ post.author.current_position | default:'' }}</span>
          </a>

                    <hr>

                    <h3 class="title">{{ post.title }}</h3>
                    <h5 class="story">
                        {{ post.story }}
                    </h5>
                </div>

                {% if post.picture %}<img class="post_picture" src="{{ post.picture.url }}" /> {% endif %}

                <!--like-->
                <div class="content">
                    <span style="color: gray; text-decoration: none; position: absolute; bottom: 15px;">&#128156;
                {% if post.postlike_set.all %}
                  <small><small>{{ post.postlike_set.all|length }}</small></small>
                {% endif %}
              </span>

                    <a style="color: gray; text-decoration: none; position: absolute; bottom: 15px;" onclick=like(this) href="{{ post.get_absolute_url }}/like/ ">&#128420;</a>
                    <br> {% for like in post.postlike_set.all %} {% if user == like.user %}
                    <span style="color: gray; text-decoration: none; position: absolute; bottom: 15px;">&#128156;</span> {% endif %} {% endfor %}
                </div>
                <script async>
                    function like(link) {
                        link.innerHTML = '&#128156;';
                        link.style.zIndex = "-1";
                    }
                </script>

            </div>
        </div>
        {% endfor %}
    </div>


    <div class="loading section_title" style="display: none; color: green;">
        Loading...
    </div>

    {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}

    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function() {
                $('.loading').show();
            },
            onAfterPageLoad: function($items) {
                $('.loading').hide();
            }
        });
    </script>
</div>


{% endblock content %}