{% extends 'main/base.html' %} {% load static %}
<!---->{% block head %}
<title>Sushi Vinegar | Sushi Book</title>
<meta name="description" content="Sweet and sour salty seasoning with umami flavor. This is what you need to make your receptors crazy! The only question is the ratio of the required components. And the solution is seasoning for sushi rice!">
<!---->{%endblock %}
<!---->{% block content %}
<div class="book_long">
    <div class="book_header">
        <h1>Sushi Vinegar</h1>
        <img src="{% static 'img/book/basics/seasoning-sushi-vinegar.jpg' %}" alt="Sushi vinegar">
    </div>

    <div class="book_content">
        <h2>The reason sushi rice is so amazing is the balanced stimulation of most of the tongue receptors and, of course, the special texture. but how?!
        </h2>
        <h4>Sweet and sour salty seasoning with umami flavor. This is what you need to make your receptors crazy! The only question is the ratio of the required components. And the solution is a special sushi rice seasoning! (Sushi vinegar).
        </h4>
        <p class="cooking_info">
            Sushi vinegar can be cooked in advance and stored, or for one meal. the recipe for ease of conversion will be presented as 1 liter of vinegar. and if you cook for 1 meal, then for 1 cup of dry rice. This Cooking Method is an average version of popular
            sushi restaurants.
        </p>
        <p class="cooking_info">
            | cooking 5-10min |
            <br>
            <br> | per liter of rice vinegar |
        </p>

        <p>
            <strong>
                <li>Japanese Rice vinegar<span class="info"><small> - 1000ml</small></span></li>
            </strong>
            <strong>
                <li>Sugar<span class="info"><small> - 700g</small></span></li>
            </strong>
            <strong>
                <li>Salt or sea salt<span class="info"><small> - 170g</small></span></li>
            </strong>
            <strong>
                <li>Kombu<span class="info"><small> ~ 10x10cm square.</small></span></li>
            </strong>
        </p>

        <p class="cooking_info">
            | per cup of dry rice |
        </p>
        <p>
            <strong>
                <li>Japanese Rice vinegar<span class="info"><small> - 30ml</small></span></li>
            </strong>
            <strong>
                <li>Sugar<span class="info"><small> - 20g</small></span></li>
            </strong>
            <strong>
                <li>Salt or sea salt<span class="info"><small> - 5g</small></span></li>
            </strong>
            <strong>
                <li>Kombu<span class="info"><small> ~ 3x3cm square. <br><br> Kombu - Dried Seaweed (Optional):
                            gives the rice a traditional umami flavor</small></span></li>
            </strong>
        </p>
        <p>
            Mix together vinegar, salt, sugar and combo in a small pot, on medium heat (do not boil) until the salt and sugar are completely dissolved.
            <br>
            <br> That's all!...
        </p>
        <br><a href="{% url 'home' %}" class="copyright">sushibook.com © 2021</a><br>
    </div>
</div>
<!---->{% endblock %}