{% extends 'base.html' %} 
{% block navbar_links %}
    <a href="{% url 'book' %}">Home</a>
{% endblock %}
{% block content %}
<div class="form-wrap">
    <div class="content">
        <a class="tab mark" href="{% url 'login' %}">Sign In</a>
        <a class="tab" href="{% url 'sign_up' %}">Sign Up</a>
        <div class="login-form">
            <form method="post" action="{% url 'login' %}">
                <div class="group">
                    {% csrf_token %} {{ form.username.label_tag }} {{ form.username }} {{ form.password.label_tag }} {{ form.password }}
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" value="Sign in" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>
            <div class="hr"></div>
            <div class="foot-lnk">
                <div>
                    {% if form.errors %}
                    <li class="error">Please enter a correct username and password. Note that both fields may be case-sensitive.</li>
                    {% endif %} {% if next %} {% if user.is_authenticated %}
                    <li>Your account doesn't have access to this page. Please login with an account that has access.</li>
                    {% else %}
                    <li class="error">Please login to see this page.</li>
                    {% endif %} {% endif %}
                </div>
                <a href="{% url 'password_reset' %}">Lost password?</a>
            </div>
        </div>
    </div>
</div>
<input type="text" style="position: fixed; left: -10000000px;" disabled/> {% endblock %}