{% extends 'base.html' %}
{% block content %}
<div class="form-wrap">
    <div class="content">
      <p class="help">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <div class="login-form">
            <form method="post" action="">
                <div class="group">
                  {% csrf_token %}
                  {% if form.email.errors %}
                    {{ form.email.errors }}
                  {% endif %}
                  <p>{{ form.email }}</p>
                </div>
                <div class="group">
                  <input type="submit" value="Reset password">
                </div>
            </form>
            <div class="hr"></div>
            <div class="foot-lnk">
                <a href="/">Home</a>
            </div>
        </div>
    </div>
</div>
<input type="text" style="position: fixed; left: -10000000px;" disabled/>
{% endblock %}