{% extends 'base.html' %}
{% block content %}
{% if validlink %}
<div class="form-wrap">
    <div class="content">
        <p class="help">Please enter (and confirm) your new password.</p>
        <div class="login-form">
            <form method="post" action="">
                <div class="group">
                    {% csrf_token %} 
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label> 
                    {{ form.new_password1 }}
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label> 
                    {{ form.new_password2 }}                
                </div>
                <div class="group">
                    <input type="submit" value="Change my password" />
                </div>
            </form>
            <div class="hr"></div>
            <div class="foot-lnk">
                <a class="tab" href="/">Home</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="form-wrap">
    <div class="content">
        <h2>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h2>
        <div class="hr"></div>
        <a class="but" href="/">Home</a>
    </div>
</div>
{% endif %}
<input type="text" style="position: fixed; left: -10000000px;" disabled/>
{% endblock %}