{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="form-wrap">
    <div class="content">
        <p class="help">Change password</p>
        <div class="login-form">
            <form method="post" action="">
                <div class="group">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="group">
                    <input type="submit" value="Change">
                </div>
            </form>
            <div class="hr"></div>
            <div class="foot-lnk">
                <a href="{% url 'profile' %}">Back to profile</a>
            </div>
        </div>
    </div>
</div>
<input type="text" style="position: fixed; left: -10000000px;" disabled/>
{% endblock %}