{% extends 'base.html' %}{% load static %}

<!---->{% block head %}
<link rel="stylesheet" href="{% static 'css/users_app/create_post.css' %}" type="text/css"> {% endblock head %} {% block navbar_links %}
<li style="float: right;">
    <a href="{{ user.profile.get_absolute_url }}">{{ user.profile.first_name | default:user.profile }}</a>
</li>
{% endblock navbar_links %}{% block content %}

<div class="create_post_card_wrap">
    <a class="closebtn" href="javascript:javascript:history.go(-1)">&times;</a>
    <div class="content">
        <a href="{{ user.profile.get_absolute_url }}">
            <img class="avatar" src="{{ user.profile.avatar.url }}" alt="profile picture" /></a>
        <a class="author" href="{{ user.profile.get_absolute_url }}">{{ user.profile.first_name | default:user.profile }} {{ user.profile.last_name | default:'' }}</a>
        <hr>
    </div>

    <form action="" , method="post" , enctype="multipart/form-data">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" maxlength="200" id="id_title" placeholder="Add header (optional).">
        <label>Story:</label><br>
        <textarea name="story" maxlength="1000" id="id_story" rows="4" cols="30" placeholder="What would you like to share?"></textarea>
        <label>Add picture to your post:</label>
        <input class="file-input" type="file" name="picture" accept="image/*" id="id_picture">
        <input class="btn" type="submit" value="Publish" />
    </form>
</div>




{% endblock content %} {% block media_bar %} {% endblock media_bar %}