{% extends 'main/base.html' %} {% load static %}
<!---->{% block head %}
<title>under construction</title>
<meta name="description" content='The Sushi Book is a free sushi Guide and recipe hub, created and edited by Community. 
Everyone can be a sushi master or chef if they love sushi and learn it!'>
<!---->{%endblock %}
<!---->{% block content %}
<div class="book">
    <div class="book_header">
        <h1><small>Section in the process of writing</small></h1>
        <img src="{% static 'img/development.jpg' %}" alt="maki sushi">
    </div>

    <div class="book_content">
        <h2>The site is under construction and is presented in a preview version.
        </h2>

        <p>
            The Sushi Book is a free sushi Guide and recipe hub, created and edited by Community. Everyone can be a sushi master or chef if they love sushi and learn it!
        </p>
    </div>
</div>
<!---->{% endblock %}